<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-b1_p" class="control-label col-xs-12 col-sm-2">{:__('B1_p')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-b1_p" class="form-control" name="row[b1_p]" type="number" value="{$row.b1_p}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-b1_n" class="control-label col-xs-12 col-sm-2">{:__('B1_n')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-b1_n" class="form-control" name="row[b1_n]" type="number" value="{$row.b1_n}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-b2_p" class="control-label col-xs-12 col-sm-2">{:__('B2_p')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-b2_p" class="form-control" name="row[b2_p]" type="number" value="{$row.b2_p}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-b2_n" class="control-label col-xs-12 col-sm-2">{:__('B2_n')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-b2_n" class="form-control" name="row[b2_n]" type="number" value="{$row.b2_n}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-r1_p" class="control-label col-xs-12 col-sm-2">{:__('R1_p')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-r1_p" class="form-control" name="row[r1_p]" type="number" value="{$row.r1_p}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-r1_n" class="control-label col-xs-12 col-sm-2">{:__('R1_n')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-r1_n" class="form-control" name="row[r1_n]" type="number" value="{$row.r1_n}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-r2_p" class="control-label col-xs-12 col-sm-2">{:__('R2_p')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-r2_p" class="form-control" name="row[r2_p]" type="number" value="{$row.r2_p}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-r2_n" class="control-label col-xs-12 col-sm-2">{:__('R2_n')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-r2_n" class="form-control" name="row[r2_n]" type="number" value="{$row.r2_n}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-m1_p" class="control-label col-xs-12 col-sm-2">{:__('M1_p')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-m1_p" class="form-control" name="row[m1_p]" type="number" value="{$row.m1_p}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-m1_n" class="control-label col-xs-12 col-sm-2">{:__('M1_n')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-m1_n" class="form-control" name="row[m1_n]" type="number" value="{$row.m1_n}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-m2_p" class="control-label col-xs-12 col-sm-2">{:__('M2_p')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-m2_p" class="form-control" name="row[m2_p]" type="number" value="{$row.m2_p}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-m2_n" class="control-label col-xs-12 col-sm-2">{:__('M2_n')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-m2_n" class="form-control" name="row[m2_n]" type="number" value="{$row.m2_n}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
