<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-open_p" class="control-label col-xs-12 col-sm-2">{:__('Open_p')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-open_p" class="form-control" name="row[open_p]" type="number" value="{$row.open_p}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-open_n" class="control-label col-xs-12 col-sm-2">{:__('Open_n')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-open_n" class="form-control" name="row[open_n]" type="number" value="{$row.open_n}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-tab_p" class="control-label col-xs-12 col-sm-2">{:__('Tab_p')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tab_p" class="form-control" name="row[tab_p]" type="number" value="{$row.tab_p}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-tab_n" class="control-label col-xs-12 col-sm-2">{:__('Tab_n')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tab_n" class="form-control" name="row[tab_n]" type="number" value="{$row.tab_n}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-exc_p" class="control-label col-xs-12 col-sm-2">{:__('Exc_p')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-exc_p" class="form-control" name="row[exc_p]" type="number" value="{$row.exc_p}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-exc_n" class="control-label col-xs-12 col-sm-2">{:__('Exc_n')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-exc_n" class="form-control" name="row[exc_n]" type="number" value="{$row.exc_n}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-suc_p" class="control-label col-xs-12 col-sm-2">{:__('Suc_p')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-suc_p" class="form-control" name="row[suc_p]" type="number" value="{$row.suc_p}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-suc_n" class="control-label col-xs-12 col-sm-2">{:__('Suc_n')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-suc_n" class="form-control" name="row[suc_n]" type="number" value="{$row.suc_n}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-bind_p" class="control-label col-xs-12 col-sm-2">{:__('Bind_p')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bind_p" class="form-control" name="row[bind_p]" type="number" value="{$row.bind_p}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-bind_n" class="control-label col-xs-12 col-sm-2">{:__('Bind_n')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bind_n" class="form-control" name="row[bind_n]" type="number" value="{$row.bind_n}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
