<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-uid" class="control-label col-xs-12 col-sm-2">{:__('Uid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-uid" data-rule="required" class="form-control" name="row[uid]" type="number" value="{$row.uid}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-mid" class="control-label col-xs-12 col-sm-2">{:__('Mid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mid" data-rule="required" class="form-control" name="row[mid]" type="number" value="{$row.mid}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-channel_id" class="control-label col-xs-12 col-sm-2">{:__('Channel_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-channel_id" data-rule="required" data-source="channel/index" class="form-control selectpage" name="row[channel_id]" type="text" value="{$row.channel_id}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-gift_id" class="control-label col-xs-12 col-sm-2">{:__('Gift_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-gift_id" data-rule="required" data-source="gift/index" class="form-control selectpage" name="row[gift_id]" type="text" value="{$row.gift_id}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-gift_name" class="control-label col-xs-12 col-sm-2">{:__('Gift_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-gift_name" data-rule="required" class="form-control" name="row[gift_name]" type="text" value="{$row.gift_name}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-operate_type" class="control-label col-xs-12 col-sm-2">{:__('Operate_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-operate_type" data-rule="required" class="form-control" name="row[operate_type]" type="number" value="{$row.operate_type}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-m_type" class="control-label col-xs-12 col-sm-2">{:__('M_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-m_type" data-rule="required" class="form-control" name="row[m_type]" type="number" value="{$row.m_type}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-before_num" class="control-label col-xs-12 col-sm-2">{:__('Before_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-before_num" data-rule="required" class="form-control" name="row[before_num]" type="number" value="{$row.before_num}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-after_num" class="control-label col-xs-12 col-sm-2">{:__('After_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-after_num" data-rule="required" class="form-control" name="row[after_num]" type="number" value="{$row.after_num}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-give_uid" class="control-label col-xs-12 col-sm-2">{:__('Give_uid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-give_uid" data-rule="required" class="form-control" name="row[give_uid]" type="number" value="{$row.give_uid}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-give_mid" class="control-label col-xs-12 col-sm-2">{:__('Give_mid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-give_mid" data-rule="required" class="form-control" name="row[give_mid]" type="number" value="{$row.give_mid}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-desc" class="control-label col-xs-12 col-sm-2">{:__('Desc')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-desc" data-rule="required" class="form-control" name="row[desc]" type="text" value="{$row.desc}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-operate_time" class="control-label col-xs-12 col-sm-2">{:__('Operate_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-operate_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[operate_time]" type="text" value="{$row.operate_time|datetime}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-create_time" class="control-label col-xs-12 col-sm-2">{:__('Create_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-create_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[create_time]" type="text" value="{$row.create_time|datetime}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
